---
import ruralbg from 'assets/ruralbg.webp'

---

<section class="flex items-center justify-center [font-stretch:ultra-expanded] px-6">
  <div
    class="flex items-center justify-center relative [&>div]:w-36 [&>div]:h-20 [&>div]:blur-3xl [&>div]:absolute [&>div]:z-10">
    <div class="bg-rural-sky/20 -right-52 top-32"></div>
    <div class="bg-rural-blue/40 -left-24 top-16"></div>
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-6 py-20 [&>h1]:text-left [&>h1]:text-4xl [&>h1]:uppercase [&>h1]:font-bold">
    <h1 class="col-span-1">
      Bienvenidos a <span
        class="bg-clip-text text-transparent bg-gradient-to-bl to-rural-yellow from-rural-red font-black"
        >la Rural</span>
      <span class="text-xs font-mono block text-white/30 dark:text-black/30">Bem-vindo a la rural</span>
    </h1>
    <p class="text-lg leading-tight uppercase">
      Somos la compañia líder en la industria de ferias, congresos y eventos de
      la Argentina y América Latina.
    </p>
  </div>
</section>
