---

---
<nav class="flex items-center justify-between">
  <a href="#" class="rounded-full px-4 py-2 bg-gradient-to-br to-rural-yellow from-rural-red text-rural-black font-bold uppercase shadow-md shadow-rural-black">La rural ticket</a>
  <div class="flex flex-col gap-y-2 [&>div]:w-8 [&>div]:h-[2px] [&>div]:rounded-full [&>div]:bg-rural-black dark:[&>div]:bg-gradient-to-r dark:[&>div]:to-rural-red dark:[&>div]:from-rural-yellow">
    <div class=""></div>
    <div class=""></div>
  </div>
</nav>
