---

---
<section class="py-16 flex flex-col gap-y-6 sm:flex-row mx-auto sm:gap-x-8 sm:items-center">
  <h3 class="text-4xl uppercase [font-stretch:ultra-expanded] font-black sm:text-7xl">Solicitá tu cotización</h3>
  <div class="h-[1px] w-full bg-rural-black dark:bg-rural-sky sm:h-36 sm:w-[1px]"></div>
  <p class="uppercase text-2xl leading-none [font-stretch:ultra-expanded] sm:leading-tight">Evento social, Cumpleaños, Casamientos, Comida Civil, Bat/Bar Mitzvah, 15 años, otros.</p>
  <div class="mx-auto flex items-center justify-center sm:w-full">
    <a href="#" class="bg-rural-black text-rural-white rounded-full py-2 px-12 font-semibold uppercase dark:bg-rural-white dark:text-rural-black">Contáctanos</a>
  </div>
</section>
