---
import { Image } from 'astro:assets'

const { title, image } = Astro.props

---
<li class="relative py-2 overflow-hidden rounded-xl">
  <Image src={image} alt={title} format="webp" class="rounded-xl aspect-auto object-cover"/>
  <div class="absolute bottom-0 flex flex-col items-center justify-end h-fit w-full bg-rural-black/50 backdrop-blur-lg py-2 px-3 sm:items-start sm:justify-between sm:h-40">
    <h3 class="text-3xl font-extrabold text-rural-white pt-4 py-2">{title}</h3>
    <a href="#" class="bg-rural-white text-rural-black rounded-full font-bold uppercase px-12 py-2 my-2">Conocer más</a>
  </div>
</li>
